{% extends "home/base.html" %}
{% load static %}
{% block title %}About Imam{%endblock%}
{% block newver%}active{% endblock %}
{% block content %}

<div class="container-fluid bg-pale-orange">
    <div class="container">
        <div class="row">
        
            <div class="col-md-6 about-container centered">
                <img class="img-responsive" class="about-page-img" src="{% static 'img/home/About-txt.svg'%}" alt="about-txt">
                <p class="desc">My name is Ahmad Imam Fauzan. My friends usually call me with Imam. I was born on May 28th 2000.  I’m a college student in Computer Science University of Indonesia (Fasilkom UI) majoring Information System. I do really like design and for me design is such a thing, I really enjoy it that much. I also into UI/UX and still studying about it. My daily lives is standard like another teenagers in general. That is studying and procrastination, watching youtube or netflix, weight-lifting, swimming, etc. I’m kinda a quiet and calm person, but I do really like to discuss about something interesting with other people, such as design, studies, games, weight-lifting, etc. If you want to know about me, we can have a chit-chat through my social media. </p>
            </div>
        
            <div class="col-md-6 imam-about-img centered">
                <img class="img-responsive" src="{% static 'img/home/Imam-white.svg'%}" alt="imam-about">
            </div>
        </div>
    </div>
</div>

{% endblock %}