{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    <link rel="stylesheet" href="{% static 'css/sections-home.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/experiences.css' %}">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <link rel="stylesheet" href="{% static 'css/story6.css' %}">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/home/aifIcon.png' %}" />
</head>

<body>

    <!-- Nav bar -->
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
            <div class="tombol">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                      
            </div>
        </button>
                        <div class="aif-logo">
                            <img src="{% static 'img/home/aifLogo.svg'%}" alt="aif">
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="micon">
                        <ul class="nav navbar-nav navbar-right">
                            {% block navhome %}
                            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>{% endblock %}
                            <!--
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">about
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="{% block newver%}{% endblock %}"><a href="/about">new version</a></li>
                    <li class="{% block oldver%}{% endblock %}"><a href="/story-1">old version</a></li>
                </ul>
            </li> -->
                            <li><a href="/about">about</a></li>
                            <li><a href="/experiences">experiences</a></li>
                            <li><a href="/portfolio">portfolio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- End of Navbar -->


    <!-- Content each page -->
    {% block content %} {% endblock %}
    <!-- End of content each page -->


    <!-- Contact me section -->
    <footer>
        <div class="container-fluid bg-black">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 tabel-contact">

                        <table>
                            <tbody>

                                <tr>
                                    <td>
                                        <a href="http://instagram.com/aimamf/" target="_blank"><img class="img-responsive" src="{%static 'img/home/Instagram.png'%}" alt="ig"></a>
                                    </td>
                                    <td style="padding-left:40px;">aimamf</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a href="http://linkedin.com/in/aimamf/" target="_blank"><img class="img-responsive" src="{%static 'img/home/Linkedin.png'%}" alt="linkedin"></a>
                                    </td>
                                    <td style="padding-left:40px;">linkedin.com/in/aimamf</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a href="http://gitlab.com/ahmadimamfauzan/" target="_blank"><img class="img-responsive" src="{%static 'img/home/gitlab.png'%}" alt="gitlab"></a>
                                    </td>
                                    <td style="padding-left:40px;">gitlab.com/ahmadimamfauzan</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a href="http://mailto:ifauzan28@gmail.com" target="_blank"><img class="img-responsive" src="{%static 'img/home/Gmail.png'%}" alt="gmail"></a>
                                    </td>
                                    <td style="padding-left:40px;">ifauzan28@gmail.com</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-6">
                        <img class="img-responsive contact-me-img" src="{% static 'img/home/Contact-me.svg'%}" alt="contact-me-txt">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of contact me section -->

</html>