{% extends "home/base.html" %}
{% load static %}
{% block title %}Imam's Experiences{%endblock%}
{% block experiences%}activate{% endblock %}
{% block content %}

<div class="container-fluid bg-pink">
    <div class="records-bg">
    <div class="container">
        <div class="row">

            <div class="col-md-12 exp-container">
                <img class="experiences-txt" src="{% static 'img/home/Experiences-home.svg'%}" alt="aif">
            </div>

            <div class="col-md-12 exps">

                <table class="exp-table">

                    <tr>
                        <td><p class="exp next-item"><b style="color:#11133A">Deputy of Media Bureau</b><br>Badan Eksekutif Mahasiswa<br>Fasilkom UI<p></td>
                        <td><img class="year" src="{% static 'img/home/2020.png'%}" alt="png"><td>
                    </tr>

                    <tr>
                        <td><p class="exp next-item"><b style="color:#11133A">Staff of Startup Academy</b><br>COMPFEST 12<br>Fasilkom UI<p></td>
                    </tr>

                    <tr>
                        <td><p class="exp next-item"><b style="color:#11133A">Staff of Creative</b><br>Pemilihan Raya<br>Fasilkom UI<p></td>
                        <td><img class="year-next" src="{% static 'img/home/2019.png'%}" alt="png"><td>
                    </tr>

                    <tr>
                        <td><p class="exp next-item"><b style="color:#11133A">Volunteer - Savior</b><br>9th Ramadhan Jazz Festival<br>Remaja Islam Cut Meutia, Menteng<p></td>
                    </tr>

                    <tr>
                        <td><p class="exp next-item"><b style="color:#11133A">Staff of Publication and Documentation</b><br>Olimpiade Elektro<br>Jakarta State Polytechnic<p></td>
                    </tr>

                    <tr>
                        <td><p class="exp next-item"><b style="color:#11133A">Secretary</b><br>Majelis Perwakilan Kelas (MPK)<br>39 Senior High School Jakarta<br><p></td>
                        <td><img class="year-next" src="{% static 'img/home/2017.png'%}" alt="png"><td>
                    </tr>

                    <tr>
                        <td><p class="exp next-item"><b style="color:#11133A">Staff of Public Relation & Documentation</b><br>Cijantung Kampus Expo (CIKAMPEX)<br>39 Senior High School Jakarta<p></td>
                    </tr>

                    <tr>
                        <td><p class="exp next-item"><b style="color:#11133A">Staff of Documentation</b><br>GADOGADO 7: REBORN & 8:AETHER<br>39 Senior High School Jakarta<p></td>
                        <td><img class="year-next" src="{% static 'img/home/2016.png'%}" alt="png"><td>
                    </tr>

                </table>

            </div>
            
        </div>
    </div>
    </div>
</div>

{% endblock %}