<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Ahmad Imam Fauzan</title>
</head>

<body>
    <div class="nav-container">
    <header class="main-header container">
        <a href="/" class="aif-logo">
            <img src="{% static 'img/home/aifLogo.svg'%}" alt="aif">
        </a>
        <nav class="main-nav">
            <ul>
                <li><a href='about.html'>about</a></li>
                <li><a href='experiences.html'>experiences</a></li>
                <li><a href='portfolio.html'>portfolio</a></li>
            </ul>
        </nav>
    </header>
    </div>
    
    <section class="home-main-section container">
        <div class="image-wrapper"></div>
            <div class="imam-image"> 
            </div>
        <div class="call-to-action">
            <span class="subtitle">hello, I am</span>
            <h1 class="title" style="letter-spacing: 0.043em;margin-top:11px">A.   I M A M</h1>
            <h1 class="title" style="margin-bottom:31px">F A U Z A N</h1>
            
            <div class="line"></div>

            <a href="about.html" class="button-header">Get to know me</a>
        </div>
        <div class="welcome"></div>
    </section>

    <section class="about-me-index">
        <div class="tulisan-tombol"></div>
            <div class="about-me-textr">
                <p class="filled">About me<p>
                <p class="stroked">About me<p>
                <p class="stroked">About me<p>
            </div>
            <a href="about.html" class="button-about">let's mingle well</a>
        </div>
        <div class="patung-wrapper">
            <div class="patung-img">
                <img src="{% static 'img/home/Patung.png'%}" alt="david">
            </div>
        </div>
    </section>
      
</body>

</html>