{% extends "home/base.html" %}
{% load static %}

{% block navhome %}
{% endblock %}

{% block content %}


<div class="container-fluid bg-blue">
    <div class="container">
        <div class="row">

            <div class="col-md-4 banner-info">
                <p>hello, I am</p>
                <h1 style="letter-spacing: 0.043em;margin-top:11px">A.   I M A M</h1>
                <h1 style="margin-bottom:30px">F A U Z A N</h1>
                <div class="line"></div>

                <a href="/about" class="btn btn-about">Get to know me</a>

            </div>

            <div class="col-md-8 banner-image">
                <img class="img-responsive" src="{% static 'img/home/ImamWelcome.svg'%}" alt="welcome">
            </div>

        </div>
    </div>
</div>

<!-- Experiences section -->

<div class="container-fluid bg-pale-orange">
    <div class="container">
        <div class="row">
        
            <div class="col-md-6 records-img">
                <img class="img-responsive" src="{% static 'img/home/Records.svg'%}" alt="records">
            </div>
        
            <div class="col-md-6 centered">
                <a href="/experiences" class="btn btn-experiences">my records</a>
                <img class="img-responsive experiences-img" src="{% static 'img/home/Experiences-home.svg'%}" alt="experiences-text">
            </div>
        </div>
    </div>
</div>

<!-- Portfolio section -->

<div class="container-fluid bg-red">
    <div class="container">
        <div class="row">
        
            <div class="col-md-6 portfolio-container centered">
                <img class="img-responsive portfolio-img" src="{% static 'img/home/Portfolio-home.svg'%}" alt="portfolio-text">
                <a href="/portfolio" class="btn btn-portfolio">handmade by me</a>
            </div>
        
            <div class="col-md-6 hands-img centered">
                <img class="img-responsive" src="{% static 'img/home/Hands.svg'%}" alt="hands">
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}