{% extends "home/base.html" %}
{% load static %}
{% block portfolio%}activate{% endblock %}
{% block title %}Imam's Design Portfolio{%endblock%}
{% block content %}

<div class="container-fluid bg-red">
    <div class="container">
        <div class="row">

            <div class="col-md-12 tulisan-portfolio" style="text-align:center;">
                <img src="{% static 'img/home/Portfolio-home.svg'%}" alt="portfolio">
            </div>

            <div class="vector-container">
                <div class="col-md-3 kpop">
                    <img src="{% static 'img/home/Joohyuk.png'%}" alt="joohyuk">
                </div>

                <div class="col-md-3 kpop">
                    <img src="{% static 'img/home/Jiyeon.png'%}" alt="jiyeon">
                </div>

                <div class="col-md-3 kpop">
                    <img src="{% static 'img/home/Jackson.png'%}" alt="jackson">
                </div>

                <div class="col-md-3 kpop">
                    <img src="{% static 'img/home/Exy.png'%}" alt="exy">
                </div>
            </div>

            <div class="ai-container">
                <div class="col-md-6 ai">
                    <img src="{% static 'img/home/Rumah.png'%}" alt="isometric">
                </div>

                <div class="col-md-6 ai">
                    <img src="{% static 'img/home/Bis.png'%}" alt="bis">
                </div>

                <div class="col-md-6 ai">
                    <img src="{% static 'img/home/Komputer.png'%}" alt="komputer">
                </div>

                <div class="col-md-6 ai">
                <img src="{% static 'img/home/Pizza.png'%}" alt="pizza">
                </div>
            </div>

            <div class="col-md-12 full-version" style="text-align:center;">
                <a href="https://drive.google.com/file/d/1Z5T6ynXhnFiSBqY0-9RGipLJmIdgBYyY/view" target="_blank" class="btn btn-portfolio">see full version</a>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}