{% extends 'home/base.html' %}
{% load static %}
{% block content %}


    <div class="container-fluid bg-pale-orange">
          <div class="container konten-act">
            <p style="text-align: left; margin-top: 20px;">
                <button class="btn btn-update btn-add" data-toggle="modal" data-target="#tambahKegiatan" >Add activity</button>
            </p>
                <div class="row">
                    {% for hasil in hasil_list %}
                        <div class="col-md-4">
                            <div class="card mt-3 " style="margin-bottom: 20px;">
                  <div class="card-header bg-info text-white card border-info mb-3">
                        <br>
                        <h1 class="nama-kegiatan">{{hasil.0.NamaKegiatan}}</h1>
                        <br>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">Description</h1>
                        <p class="deskripsi">{{hasil.0.Deskripsi}}</p>
                        <br>
                        <h1 class="card-title">Participants</b>
                        {% for participant in hasil.1 %}
                            <p class="deskripsi">{{participant.name}}</p>
                        {% endfor %}
                        <br><br>
                        <button class="btn btn-delete" data-toggle="modal" data-target="#tambahParticipant{{ hasil.0.id }}" >Register</button>
                        <br><br>
                    </div>
                </div>
            
                
                
                <!-- modal -->  
                <div class="modal fade" id="tambahParticipant{{hasil.0.id}}" tabindex="-1" aria-labelledby="tambahParticipantTitle" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="exampleModalLabel">Register the {{ hasil.0.NamaKegiatan }} activity?</h1>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{% url 'story6:daftar' %}" method="post">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_kegiatan" value="{{hasil.0.id}}">
                                    <label for="name_participant">Name: </label>
                                    <input id="name_participant" name="name_participant" type="text" autofocus>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-delete" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-update">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                        
                        </div>

              
              
                    {% endfor %}



                </div>
              
            </div >
            
            <div class="modal fade" id="tambahKegiatan" tabindex="-1" aria-labelledby="tambahKegiatanTitle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="exampleModalLabel">Register the {{ hasil.0.NamaKegiatan }} activity?</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{% url 'story6:daftar' %}" method="post">
                            <div class="modal-body">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="nama_kegiatan">Name: </label>
                                    <input id="nama_kegiatan" name="nama_kegiatan" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="deskripsi_kegiatan">Description: </label>
                                    <input id="deskripsi_kegiatan" name="deskripsi_kegiatan" type="text" autofocus>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-delete" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-update">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

{% endblock %} 
