<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Welcome to My Profile</title>
     <style>
    table, th, td {
    border: 1px solid black;
     padding: 5px;
    }
    table {
     border-spacing: 10px;
    }
    body, ul, li {
       text-align: center; vertical-align: middle;
    }
    </style>
    <style type="text/css">
   .left    { text-align: left;}
   .right   { text-align: right;}
   .center  { text-align: center;}
   .justify { text-align: justify;}
    </style>
    <style>
        img.one {
            height: 20%;
            width: 20%;
        }
        img.two {
            height: 42px;
            width: 42px;
        }
        .tab {
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <a href="/"><img class="two" src="{% static 'img/Arrow.png'%}" alt="Linkedin"></a>
    <h1>Hello folks!</h1>
    <img class="one" src="{% static 'img/Imam.png'%}" alt="Ahmad Imam Fauzan">
    <h2>Identity</h2>
        <p>Ahmad Imam Fauzan</p>
        <p>1906353542</p>
        <p>Information System
        <br>Faculty of Computer Science
        <br>University of Indonesia
        <br>Class of 2019</p>
    <br>
    <h2>About me</h2>
        <p clas="justify">I do design and workout. I barely gain weight and I think bulking is hard for me. I'm into UI/UX Design and also Business-product related stuff. I also like to procrastinating sometimes. I listen to a lot of K-Pop songs and I like to watch netflix series.</p>
    <br>
    <h2>Hobbies</h2>
    <ul>
        <li>Design</li>
        <li>Workout</li>
        <li>Watching youtube or netflix</li>
    </ul>
    <br>
    <h2>Education</h2>
    <table style="width:100%; weight:400px">
        <tr>
            <th style="text-align: center; vertical-align: middle;">Education</th>
            <th style="text-align: center; vertical-align: middle;">Year</th>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: middle;">Information System
                <br>Faculty of Computer Science
                <br>University of Indonesia</td>
            <td style="text-align: center; vertical-align: middle;">2019 - Present</td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: middle;">39 Senior High School</td>
            <td style="text-align: center; vertical-align: middle;">2015 - 2018</td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: middle;">49 Junior High School</td>
            <td style="text-align: center; vertical-align: middle;">2012 - 2015</td>
        </tr>
    </table>
    <br>
    <h2>Social Media</h2>
    <p><a href="https://instagram.com/aimamf/"><img class="two" src="{% static 'img/Instagram.png'%}" alt="Ïnstagram"></a>
    <span class="tab">
    <a href="https://linkedin.com/in/aimamf/"><img class="two" src="{% static 'img/Linkedin.png'%}" alt="Linkedin"></a>
    </p>
        
        
    
</body>
</html>