.col-md-6 p {
    font-family: Circular Std;
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: #141414;
    margin-top: 32px;
}

.about-container {
    margin-top: 116px;
}

.imam-about-img {
    margin-top: 138px;
}

@media screen and (max-width: 992px) {
    .col-md-6 p {
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
    }
    .imam-about-img {
        margin-top: 32px;
    }
}