.course-table td {
    color: #11133A;
    font-size: 28px;
    font-family: Circular Std;
}

.course-table th {
    color: #11133A;
    height: 64px;
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 19px;
}

.course-table {
    margin-top: 0px;
}

.course h1 {
    color: #842139;
    height: 64px;
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 19px;
}

.course p {
    color: #11133A;
    height: 64px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
}

.line {
    border-color: #11133A;
}

.btn-update {
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFD2A2;
    background: #11133A;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 24px;
    margin-left: 20px;
}

.btn-update:hover {
    color: #11133A;
    background-color: white;
}

.btn-delete {
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFD2A2;
    background: #D3495E;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 24px;
    margin-left: 20px;
}

.btn-delete:hover {
    color: #842139;
    background-color: white;
}

.btn-back {
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #11133A;
    border: 2px solid #11133A;
    background-color: transparent;
    padding: 10px 24px;
    border-radius: 8px;
    text-decoration: none;
}

a.btn-back:hover {
    color: #D3495E;
    background-color: white;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

.courses-list a {
    color: #11133A;
    font-size: 28px;
    font-family: Circular Std;
}

.courses-list a:hover {
    color: white;
    font-size: 28px;
    font-family: Circular Std;
    background-color: #D3495E;
}

.list-group-item {
    color: white;
    background-color: #FFD2A2;
    border-color: #FFD2A2;
}

.row {
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    color: #11133A;
}