.experiences-txt {
    margin-top: 136px;
    margin-bottom: 68px;
}

.exp-table {
    float: right;
    margin-bottom: 100px;
    ;
}

.exps .exp {
    font-family: Circular Std;
    font-style: normal;
    font-weight: 450;
    font-size: 36px;
    line-height: 46px;
    text-align: right;
    color: #FFFFFF;
    padding-right: 90px;
}

.exps .next-item,
.exps .year,
.exps .year-next {
    padding-bottom: 100px;
}

.exps .year {
    padding-top: 0px;
}

.exps .year-next {
    padding-top: 0px;
}

.container-fluid {
    margin: 0;
}

@media screen and (max-width: 992px) {
    .col-md-12 .experiences-txt {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .exps .exp {
        font-family: Circular Std;
        font-style: normal;
        font-weight: 450;
        font-size: 28px;
        line-height: 46px;
        text-align: right;
        color: #FFFFFF;
        padding-right: 90px;
    }
    .exps .year,
    .exps .year-next {
        width: 95%;
    }
}