.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 120px;
    height: 900px;
}

.home-main-section .image-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    display: none;
}

.home-main-section .imam-image {
    background: url('/static/img/home/Imam.png');
    min-width: 756px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.home-main-section .call-to-action {
    display: flex;
    min-width: 400px;
    flex-direction: column;
    align-items: flex-start;
    margin: -8rem;
    align-self: center;
}

@media (max-width: 1024px) {
    .home-main-section .image-wrapper {
        display: none;
    }
    .home-main-section {
        justify-content: center;
    }
}

.home-main-section .welcome {
    background: url('/static/img/home/Welcome.svg');
}


/* Section About me */

.about-me-index {
    background-color: #D3495E;
    height: 727px;
    justify-content: space-between;
}

.about-me-index .button-about {
    font-family: "Circular Std Black Regular";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #11133A;
    background-color: #FFD2A2;
    padding: 20px 44px;
    border-radius: 8px;
    text-decoration: none;
    margin-left: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about-me-index .button-about:hover {
    color: #842139;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about-me-index .-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    display: none;
}

.about-me-index .patung-img {
    background: url('/static/img/home/Patung.png');
    max-height: 538px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}