.vector-container,
.ai-container {
    text-align: center;
}

.tulisan-portfolio {
    margin-top: 100px;
}

.kpop {
    margin-top: 100px;
}

.ai {
    margin-top: 100px;
}

.full-version {
    margin-top: 100px;
}