/* Background color */

.bg-pale-orange {
    background-color: #FFD2A2;
}

.bg-red {
    background-color: #842139;
}

.bg-black {
    background-color: #141414;
}

.bg-blue {
    background-color: #11133A;
}

.bg-pink {
    background-color: #D3495E;
}


/* Experiences section */

.records-img {
    margin-top: 116px;
    margin-bottom: 116px;
}

a.btn-experiences {
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #FFD2A2;
    background: #D3495E;
    border-radius: 8px;
    text-decoration: none;
    padding: 20px 80px;
    margin-bottom: 100px;
    margin-top: 183px;
}

a.btn-experiences:hover {
    color: #D3495E;
    background-color: white;
}

.experiences-img {
    margin-bottom: 183px;
}


/* Portfolio Section */

a.btn-portfolio {
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #FFD2A2;
    background: #11133A;
    border-radius: 8px;
    text-decoration: none;
    padding: 20px 80px;
    margin-bottom: 100px;
}

a.btn-portfolio:hover {
    color: #11133A;
    background-color: white;
}

.portfolio-img {
    margin-bottom: 106px;
}

.portfolio-container {
    margin-top: 184px;
}

.hands-img {
    margin-top: 227px;
}


/* Contact me */

.contact-me-img {
    margin-top: 66px;
}

table {
    margin-top: 52px;
}

td {
    height: 64px;
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 19px;
    color: #FFFFFF;
}

@media screen and (max-width: 992px) {
    .hands-img {
        margin-top: 0px;
    }
    .img-responsive {
        margin-left: auto;
        margin-right: auto;
    }
    .btn-experiences {
        text-align: center;
    }
    .centered {
        text-align: center;
    }
    .experiences-img {
        margin-bottom: 116px;
    }
    a.btn-experiences {
        margin-top: 0;
    }
    .portfolio-container {
        margin-top: 100px;
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }
}