.card-header {
    background-color: #11133A;
}

.card {
    background-color: white;
    border-radius: 20px;
}

.mb-3 {
    background-color: #11133A;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nama-kegiatan {
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    text-align: justify;
    color: #FFD2A2;
    margin-left: 20px;
}

.card-title {
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-align: justify;
    color: #842139;
}

.card-body {
    margin-left: 20px;
}

.deskripsi {
    font-family: Circular Std;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    text-align: justify;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.konten-act {
    margin-top: 100px;
    margin-bottom: 100px;
}

.btn-add {
    margin-bottom: 24px;
}