*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #11133A;
    font-family: "Circular Std Book Regular", "Circular Std Black Italic Regular", "Circular Std Black Regular", "Circular Std Bold Italic Regular", "Circular Std Bold Regular", "Circular Std Book Italic Regular", "Circular Std Medium Italic Regular", "Circular Std Medium Regular", "Amanda", sans-serif;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.nav-container {
    background: #11133A;
    height: 117px;
}

.aif-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav li {
    font-family: "Circular Std Book Regular";
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.009em;
    color: white;
    margin-right: 36px;
}

.main-nav li:nth-last-of-type(1) {
    margin: 0;
}

.main-nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: #D3495E;
    background-color: white;
    border-radius: 12px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 117px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    font-family: "Circular Std Black Regular";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 91px;
    text-align: justify;
    color: #FFFFFF;
}

.subtitle {
    font-family: "Circular Std Bold Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    text-align: justify;
    letter-spacing: -0.009em;
    color: #D3495E;
}

.button-header {
    font-family: "Circular Std Black Regular";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    padding: 20px 44px;
    border-radius: 8px;
    text-decoration: none;
    margin-left: 24px;
}

.button-header:hover {
    color: #D3495E;
    background-color: white;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

.line {
    background-color: white;
    width: 380px;
    height: 4px;
    margin-bottom: 160px;
}

.filled {
    font-family: "Circular Std Black Regular";
    font-style: normal;
    font-weight: 900;
    font-size: 108px;
    line-height: 24px;
    color: white;
    margin-bottom: 54px;
}

.stroked {
    font-family: "Circular Std Black Regular";
    font-style: normal;
    font-weight: 900;
    font-size: 108px;
    line-height: 24px;
    color: transparent;
    -webkit-text-stroke-width: 1.51124px;
    -webkit-text-stroke-color: white;
    margin-bottom: 54px;
}

.filled-blue {
    font-family: "Circular Std Black Regular";
    font-style: normal;
    font-weight: 900;
    font-size: 108px;
    line-height: 24px;
    text-align: center;
    color: #11133A;
    margin-bottom: 54px;
}

.stroked-blue {
    font-family: "Circular Std Black Regular";
    font-style: normal;
    font-weight: 900;
    font-size: 108px;
    line-height: 24px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 1.51124px;
    -webkit-text-stroke-color: #11133A;
    margin-bottom: 54px;
}