h1 {
    text-align: center;
    font-family: 'Circular Std', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 56px;
    font-weight: 500;
    color: chocolate;
}

h2 {
    text-align: center;
    font-family: 'Circular Std', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    color: chocolate;
}

p {
    text-align: center;
    font-family: 'Circular Std', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: #101000;
}