@font-face {
    font-family: Circular Std;
    src: url('/static/font/Circular Std Book.ttf');
}

@font-face {
    font-family: Circular Std Tebal;
    src: url('/static/font/Circular Std Black.ttf');
}

@font-face {
    font-family: Circular Std Semi;
    src: url('/static/font/Circular Std Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #11133A;
    font-family: "Circular Std Book Regular", "Circular Std Black Italic Regular", "Circular Std Black Regular", "Circular Std Bold Italic Regular", "Circular Std Bold Regular", "Circular Std Book Italic Regular", "Circular Std Medium Italic Regular", "Circular Std Medium Regular", "Amanda", sans-serif;
}

.aif-logo {
    margin-top: 24px;
    margin-left: 8px;
}

.tombol {
    margin-top: 24px;
    margin-right: 8px;
}

.navbar-style {
    background-color: #11133A;
    height: 117px;
}

.icon-bar {
    background: white;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin-top: 32px;
}

.nav li {
    font-family: Circular Std;
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.009em;
    color: white;
    margin-right: 36px;
}

.nav li:nth-last-of-type(1) {
    margin: 0;
}

nav a:hover {
    color: #D3495E;
    background-color: white;
    border-radius: 12px;
}


/* hello, I am A. I M A M  F A U Z A N section */

.banner-info p {
    font-family: Circular Std Semi;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 61px;
    text-align: justify;
    letter-spacing: -0.009em;
    color: #D3495E;
    margin-top: 80px;
}

.banner-info h1 {
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 91px;
    text-align: justify;
    color: #FFFFFF;
}

.banner-info {
    align-content: center;
}

.line {
    background-color: white;
    width: 340px;
    height: 4px;
    margin-bottom: 96px;
}

a.btn {
    border-radius: 8px;
}

a.btn-about {
    font-family: Circular Std Tebal;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    padding: 20px 44px;
    border-radius: 8px;
    text-decoration: none;
}

a.btn-about:hover {
    color: #D3495E;
    background-color: white;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

@media screen and (max-width: 992px) {
    .col-md-4 {
        text-align: center;
        margin: 25px 0;
    }
    .col-md-4 p {
        text-align: center;
    }
    .col-md-4 h1 {
        text-align: center;
    }
    .line {
        display: none;
    }
    .aif-logo {
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}