{% extends 'home/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid bg-pale-orange">
    <div class="container" style="margin-bottom:100px;margin-top:100px;">
        <div class="row">
            <div class="col-md-12 banner-info course">
                <h1 style="color: #842139;">My Courses</h1>
                    <div class="courses-list">
                        {% for i in courses %}
                            <a href="{{ i.id }}" class="list-group-item list-group-item-action mute-bg courses-list"><b>{{ i.name }}</b></a>
                        {% endfor %}
                    </div>
                    <br>
                    <br>
                        <a class="btn btn-update" style="margin:0px" href="{% url 'courses:add-course' %}"><b>Add course</b></a>
                    <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}