{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid bg-pale-orange">
    <div class="container" style="margin-bottom:100px;margin-top:100px;">
        <div class="row">
            <div class="col-md-12 course">
                <h1 class="featurette-heading"><b>Add course</b></h1>
                <form method='POST'>
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <br>
                    <br>
                    <a type="button" class="btn btn-back" href="{% url 'courses:courses-list' %}"><b>Back</b></a>
                    <button type="submit" class="btn btn-delete">Submit</button>
                </form>
                <br>
            </div>
            <div class="col-md-6 course">
                
            </div>
        </div>
    </div>
</div>

{% endblock %}