{% extends 'home/base.html' %}

{% block content %}

<div class="container-fluid bg-pale-orange">
    <div class="container" style="margin-bottom:100px;margin-top:100px;">
        <div class="row">
            <div class="col-md-12 course">
                <h1>{{ courses.name }}</h1>
                <table class="course-table table" style="text-align: left;" >
                    <tbody>
                        <tr>
                            <th scope="row">Lecturer</th>
                            <td>{{ courses.lecture }}</td>
                        </tr>
                        <tr>
                            <th scope="row">SKS Credit</th>
                            <td>{{ courses.sks }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Term</th>
                            <td>{{ courses.term }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Room</th>
                            <td>{{ courses.room }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ courses.desc }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-md-12 course" style="margin-top:100px;">
                    <a type="button" class="btn btn-back" href="/courses-list"><b>Back</b></a>
                    <a class="btn btn-delete" style="float: right;" href="{% url 'courses:delete-course' courses.id %}">Delete Course</a>
                    <a class="btn btn-update" style="float: right;" href="{% url 'courses:update-course' courses.id %}">Update Course</a>
                </div>

                
            </div>
        </div>
    </div>
</div>

{% endblock %}