{% extends 'home/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid bg-pale-orange">
    <div class="container" style="margin-bottom:100px;margin-top:100px;">
        <div class="row">
            <div class="col-md-12 course">
                <h1><b>Delete course</b></h2>
                <form action="{% url 'courses:delete-course' course.id %}" method='POST'>
                {% csrf_token %}
                <p>Are you sure you want to delete "{{course}}"?</p>
                <br>
                <a type="button" class="btn btn-back" href="{% url 'courses:courses-list' %}"><b>Cancel</b></a>
                <button type="submit" class="btn btn-delete"><b>Yes</b></button>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}