.home-main-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

.home-main-section .image-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.home-main-section .imam-image {
    background: url("Imam.cc8890127fa8.svg");
    flex-grow: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}